h1 {
    text-align: center;
    margin-top: 40px;
}

.chef_image_container {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.chef_name {
    text-align: center;
}

.chef_image {
    width: 100%; 
    height: auto; 
    
     }

.container {
    display: flex;
    justify-content: space-around;
}

.team {
    text-align: center;
}

.team_image img {
    width: 100%; 
    height: auto; 
    text-align: center;
}

.background img {
    width: 100%; 
    height: auto; 
    text-align: center;
}

.Awards {
    margin-top: 20px;
    text-align: center;
}

.Awards_image {
    display: flex;

    margin-left: 5%;
    margin-right: 5%;
    }

    .Awards_image2 {
        display: flex;

    margin-left: 5%;
    margin-right: 5%;
        }
   
.bloc img {
        width: 100%;
       }

       .bloc2 img {
        width: 100%;
       }

#contactForm {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
     }

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.discription {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-left: 5%;
    margin-right: 5%;
}

.carousel {
  margin-left: 5%;
  margin-right: 5%;
}

.restaurant {
    margin-top: 20px;
    text-align: center;
}

.bottom {
 min-height: 60px; padding: 0px 30px; border-radius: 10px; text-transform: uppercase; letter-spacing: 2px; font-size: 18px; color: #fff; background-color: #5e5373; box-shadow: 0 5px 0px #3c354a; transition-property: all; transition-duration: 0.5s; transition-delay: 0s; transition-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
}


.bottom:hover{
    padding: 0px 50px; background-color: #18b525; 
}
 

  /* NAV BAR */
  /*nav bar*/
.nav1 {
  display: flex;
  justify-content: center;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
}
.nav {
    display: flex;
    align-items: center;
}
.nav li a:hover {
    background-color: turquoise;
    color: black;
}

.nav li a {
    text-decoration: none;
    list-style-type: none;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: large;
}

@media screen and (min-width: 700px) { 

    .chef { 
      display: flex;
      justify-content: center;
      align-items: center;
    margin-bottom: 20px;
    max-width: 700px;
    margin-left: 5%;
    margin-right: 5%;
    } 

    .chef_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .chef_image {
        min-width: 300px;
        min-height: auto;
        margin-right: 5px;
    }
  }

  video {
      width: 100%;
      margin-bottom: 40px;
  }

  .modal {
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    display: none;
  }
  .modal-inner {
    margin-top: 30px;
  }

  input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup_content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  position: relative;
  padding: 30px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup_title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}
.popup.open .popup_content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}


nav {
  display: flex;
  height: 120px;
  width: 100%;
  background:rgba(0, 0, 0, 0.856);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  }
  nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  }
  nav ul li {
  margin: 0 10px;
  }
  nav ul li a {
  color:white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  }
  /*nav ul li a.active,*/
  nav ul li a:hover {
  color:black;
  background:grey;
  }
  nav .menu-btn i {
  color:grey;
  font-size: 22px;
  cursor: pointer;
  display: none;
  }
  input[type="checkbox"] {
  display: none;
  }
  @media (max-width: 1250px) {
  nav {
    padding: 0 40px 0 50px;
  }
  }
  @media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 120px;
    left: -100%;
    background:black;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  /*nav ul li a.active,*/
  nav ul li a:hover {
    background:none;
    color: cyan;
  }
  }