h1 {
    text-align: center;
}

.chef_image_container {
    display: flex;
    justify-content: center;
}

.chef_name {
    text-align: center;
}

.chef_image {
    width: 100%; 
    height: auto; 
     }

.container {
    display: flex;
    justify-content: space-around;
}

.team {
    text-align: center;
}

.team_image img {
    width: 100%; 
    height: auto; 
    text-align: center;
}

.background img {
    width: 100%; 
    height: auto; 
    text-align: center;
}

.Awards {
    text-align: center;
}

.Awards_image {
    display: flex;
    justify-content: center;
   }
   
.bloc {
        width: 100%;
        height: auto;
}
#contactForm {
    text-align: center;
}
