body {
  width: 100%;
}

@media (max-width: 1250px) {
nav {
  padding: 0 40px 0 50px;
}
}
@media (max-width: 920px) {
nav .menu-btn i {
  display: block;
}
#click:checked ~ .menu-btn i:before {
  content: "\f00d";
}
nav ul {
  position: fixed;
  top: 120px;
  left: -100%;
  background:black;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: block;
  transition: all 0.3s ease;
}
#click:checked ~ ul {
  left: 0;
}
nav ul li {
  width: 100%;
  margin: 40px 0;
}
nav ul li a {
  width: 100%;
  margin-left: -100%;
  display: block;
  font-size: 20px;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#click:checked ~ ul li a {
  margin-left: 0px;
}
/*nav ul li a.active,*/
nav ul li a:hover {
  background:none;
  color: cyan;
}
}



.welcome {
 font-family: Arial, Helvetica, sans-serif;
font-size: larger;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
color: darkgreen;
padding-top: 30px;
padding-bottom: 30px;
}
.welcome {
background-image: url(https://images.pexels.com/photos/133222/pexels-photo-133222.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
max-width: 900px;
height: 250px;
margin-top: 15px;
border-radius: 15px 25px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
display: flex;
align-items: center; 
}
.story{
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color:darkgreen;
  margin-top: 15px;
  margin-bottom: 15px;
}
.story2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color:darkgreen;
  margin-top: 20px;
  margin-bottom: 20px;
}

.picswrap2{
  display:-ms-inline-flexbox;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.picswrap2{
  display: block;
  align-items: center;
}

.picswrap2 img{
height: 250px;
max-width:300px;
border-radius: 15px 25px;
}
.container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  }
  

.picswrap3 img{
  max-width: 900px;
height: 270px;
margin-top: 15px;
border-radius: 15px 25px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}
.picswrap3{
  display: flex;
  align-items: center;
}
#container1{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
@media screen and (max-width:950px){
  .welcome {
    font-family: Arial, Helvetica, sans-serif;
   font-size: larger;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   color: darkgreen;
   padding-top: 30px;
   padding-bottom: 30px;
   }
   .welcome {
   background-image: url(https://images.pexels.com/photos/133222/pexels-photo-133222.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
   max-width: 900px;
   height: 250px;
   margin-top: 15px;
   border-radius: 15px 25px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   display: flex;
   align-items: center; 
   }
   .story{
     font-family: Arial, Helvetica, sans-serif;
     font-size: larger;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: center;
     color:darkgreen;
     margin-top: 15px;
     margin-bottom: 15px;
   }
   .story2{
     font-family: Arial, Helvetica, sans-serif;
     font-size: larger;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: center;
     color:darkgreen;
     margin-top: 20px;
     margin-bottom: 20px;
   }
   
   .picswrap2{
     display:-ms-inline-flexbox;
     justify-content:space-evenly;
     align-items: center;
     margin-top: 20px;
     margin-bottom: 10px;
   }
   .picswrap2{
     display: block;
     align-items: center;
   }
   
   .picswrap2 img{
   height: 250px;
   max-width:300px;
   border-radius: 15px 25px;
   }
   .container{
     margin-left: auto;
     margin-right: auto;
     display: flex;
     justify-content: center;
     }
     
   
   .picswrap3 img{
     max-width: 900px;
   height: 270px;
   margin-top: 15px;
   border-radius: 15px 25px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   }
   .picswrap3{
     display: flex;
     align-items: center;
   }
   #container1{
     margin-left: auto;
     margin-right: auto;
     align-items: center;
   }
}
@media screen and (max-width: 950px) {
.welcome {
  font-style: italic;
  font-size: larger;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: darkgreen;
  padding-top: 30px;
  padding-bottom: 30px;
}
.welcome {
  background-image: url(https://images.pexels.com/photos/133222/pexels-photo-133222.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  max-width: 820px;
  max-height: 220px;
  margin-top: 10px;
  border-radius: 15px 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.picswrap3 img{
  max-width: 820px;
   max-height: 220px;
}
.story{
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color:darkgreen;
  margin-top: 15px;
  margin-bottom: 15px;
}
.story2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color:darkgreen;
  margin-top: 20px;
  margin-bottom: 20px;
}

  
.picswrap2 img{
max-height: 200px;
max-width:250px;
border-radius: 15px 25px;
}
#container1{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
}
@media screen and (max-width: 780px) {
  .picswrap2{
    display:-ms-inline-flexbox;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .picswrap2 img{
    max-height: 180px;
    max-width:200px;
    border-radius: 15px 25px;
    }
  .picswrap2{
    display: block;
    align-items: center;
  }
  .story{
    font-size: large;
  }
  .story2{
    font-size: large;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    }
}

@media screen and (max-width: 670px) {
.welcome {
  font-style: italic;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkgreen;
  padding-top: 20px;
  padding-bottom: 20px;
}
.welcome {
  background-image: url(https://images.pexels.com/photos/133222/pexels-photo-133222.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  max-width: 380px;
  max-height: 150px;
  margin-top: 10px;
  border-radius: 15px 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.story{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color:darkgreen;
  margin-top: 15px;
  margin-bottom: 15px;
}
.story2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color:darkgreen;
  margin-top: 20px;
  margin-bottom: 20px;
}
.picswrap2 {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 0%;
}
.picswrap2 img{
  max-height: 140px;
max-width:150px;
border-radius: 15px 25px;
margin-top: 10px;
}
.picswrap3 img{
  max-width: 380px;
max-height: 150px;
margin-top: 10px;
border-radius: 15px 25px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}
#container1{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
}