h1 {
    text-align: center;
}

.team_image {
    width: 100px; 
    height: 100px; 
    background-color: red;
}

.container {
    display: flex;
    justify-content: space-around;

.social{
    height:5px;
    width:5px;
}